body{
font-family: Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:25px;
border-radius:8px;
width:300px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:10px;
margin-top:10px;
}

button{
margin-top:10px;
padding:10px;
width:100%;
cursor:pointer;
}

p{
color:red;
font-size:12px;
margin:3px 0;
}

.password-box{
display:flex;
}

.password-box button{
width:30%;
}

.strength{
height:6px;
background:#ddd;
margin-top:5px;
}

#strength-bar{
height:6px;
width:0%;
background:red;
}
